.modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal_opened {
  visibility: visible;
}

.modal__close {
  width: 30px;
  height: 30px;
  background-image: url(../../assets/closeButton.png);
  background-size: cover;
  background-repeat: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal {
  font-family: "Geologica Bold", Arial, Helvetica, sans-serif;
}

.modal__form {
  width: 400px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: solid;
  font-size: 14px;
  margin-bottom: 10px;
}

.modal__title {
  margin: 20px 20px;
  font-size: 24px;
}

.modal__submit-container {
  display: flex;
  gap: 5px;
}

.modal__submit {
  color: #fff;
  background-color: #4a7c8c;
  margin: 10px 5px 20px 20px;
  border: none;
  border-radius: 5px;
  height: 24px;
  cursor: pointer;
}

.modal__submit:hover {
  opacity: 0.7;
}

.modal__second-btn {
  color: #fff;
  background-color: #4a7c8c;
  margin: 10px 5px 20px 0;
  border: none;
  border-radius: 5px;
  height: 24px;
  cursor: pointer;
}

.modal__second-btn:hover {
  opacity: 0.7;
}

.modal__form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.modal__input {
  max-width: 250px;
  margin-left: 5px;
}

.modal__error {
  color: #ff0000;
  margin-top: 3px;
  display: block;
}

@media screen and (max-width: 470px) {
  .modal__form {
    max-width: 300px;
  }

  .modal__input {
    max-width: 100px;
  }
}
