.profile {
  font-family: "Geologica Bold", Arial, Helvetica, sans-serif;
  width: 100%;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
  flex-grow: 2;
}
