.log-card {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: solid;
  font-size: 14px;
  margin-bottom: 10px;
  transition: opacity 0.5s ease-in-out;
}

.log-card:hover {
  cursor: pointer;
  opacity: 0.7;
}

.log-card__content {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.log-card__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
