.log {
  visibility: hidden;
  display: flex;
  font-family: "Geologica Bold", Arial, Helvetica, sans-serif;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.log_opened {
  visibility: visible;
}

.log__container {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: solid;
  font-size: 14px;
  margin-bottom: 10px;
}

.log__close {
  width: 30px;
  height: 30px;
  background-image: url(../../assets/closeButton.png);
  background-size: cover;
  background-repeat: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
}

.log__title {
  padding-left: 20px;
}

.log__location {
  font-size: 20px;
  margin: 10px 20px 5px;
}

.log__description {
  margin: 5px 20px 20px;
}

.log__close:hover {
  cursor: pointer;
  opacity: 0.7;
}

.log__actions {
  display: flex;
  justify-content: center;
}

.log__delete-btn {
  align-self: center;
  margin-bottom: 20px;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  font-size: 12px;
  color: #fff;
  background-color: #4a7c8c;
  border: none;
}

@media screen and (max-width: 470px) {
  .log__container {
    max-width: 350px;
    margin: 0 10px;
  }
}

/* .log {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.log_opened {
  visibility: visible;
}

.logcontainer {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: solid;
  font-size: 14px;
  margin-bottom: 10px;
}

.logclose {
  width: 30px;
  height: 30px;
  background-image: url(../../assets/closeButton.png);
  background-size: cover;
  background-repeat: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.log__text {
  font-size: 40px;
  color: red;
} */
