.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.map__polaroid-frame {
  background-color: #f4f4f4;
  padding: 30px 12px 75px 12px;
  width: 680px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 100px 0;
}

.map__container {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  background-color: pink;
  border: 2px solid black;
}

.map__add-memory-btn {
  margin-top: 75px;
  height: 50px;
  font-family: "Indie Flower";
  font-size: 30px;
  width: 200px;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.map__add-memory-btn:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 12px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
