.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.map__polaroid-frame {
  background-color: #f4f4f4;
  padding: 30px 12px 75px 12px;
  width: 680px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 100px 0;
}

.map__container {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  background-color: pink;
  border: 2px solid black;
}

.map__add-memory-btn {
  margin-top: 75px;
  height: 50px;
  font-family: "Indie Flower";
  font-size: 30px;
  width: 200px;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.map__add-memory-btn:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 12px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.map__tooltip-container {
  position: relative;
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center;
  flex-direction: column;
}

.map__tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  text-align: center;
  width: max-content;

  position: absolute;
  bottom: 110%; /* Show above the button */
  left: 50%;
  transform: translateX(-50%);

  transition: opacity 0.3s ease;
  z-index: 10;
  pointer-events: none;
}

.map__tooltip-container:hover .map__tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 680px) {
  .map__polaroid-frame {
    width: 480px;
    margin: 40px 0 0;
    padding: 16px;
    box-shadow: none;
    border-radius: 0;
  }

  .map__container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }

  .map__add-memory-btn {
    width: 140px;
    font-size: 24px;
    height: 50px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 520px) {
  .map__polaroid-frame {
    width: 400px;
    padding: 16px;
    box-shadow: none;
    border-radius: 0;
  }

  .map__container {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }

  .map__add-memory-btn {
    width: 116;
    font-size: 24px;
    height: 50px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 430px) {
  .map__polaroid-frame {
    width: 320px;
    padding: 16px;
    box-shadow: none;
    border-radius: 0;
  }

  .map__container {
    width: 240px;
    height: 240px;
    margin: 0 auto;
  }

  .map__add-memory-btn {
    width: 92px;
    font-size: 24px;
    height: 50px;
    margin-top: 16px;
  }
}
